html,
body {
	user-select: none;
	-webkit-touch-callout: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#container {
	display: flex;
	height: 100vh;
	padding-top: 5%;
}

#left {
	display: flex;
	flex-direction: column;
	width: 50vw;
	height: 100vh;
	padding-left: 3%;
	padding-right: 3%;
}

#canvas {
	width: 100%;
	aspect-ratio: 1 / 1;
}

/* debugエリア */
#debug {
	width: 100%;
	flex-grow: 1;
	color: #222;
	font: 0.8rem "Courier", monospace;
}

/* right (pane) */
#pane {
	width: 50vw;
	height: 100vh;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding-left: 3%;
	padding-right: 3%;
	flex-direction: column;
}

/* tweakpane の UI のサイズ調整 */
#pane .tp-dfwv {
	width: 100%;
	max-width: none;
	flex-grow: 1;
	align-self: stretch;
	display: block;
}